$main-gradient: linear-gradient(135deg, #506d9e 0%,#008972 100%);
$taskbar-color: transparent;
$font-color: #6F7A84;
$active-color: #506D9E;
$active-color-transparent: rgba(80, 109, 158, 0.15);
$positive-color: #008972;
$medium-color  : #F4B054;
$negative-color: rgb(139, 72, 76);
